.table>tbody>tr>td {
    vertical-align: middle;
    padding-left: 12px;
    border-top: none;
}

.table>tbody>tr {
    border-top: 2px dashed lightgray;
    border-bottom: none;
    cursor: pointer;
}

.table>thead>tr>th {
    padding-left: 12px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}