h1 {
    text-align: center;
    text-shadow: -2px 2px 3px black;
    font-weight: bold;
    color: dimgray;
}

.line1 {
    display: block;
    padding-top: 10px;
    padding-bottom: 1px;
}

.line2 {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 1px;
}

.input-group {
    float: right;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100px;
}

#tableInfo {
    padding-left: 12px;
    padding-top: 16px;
    color: gray;
    font-style: italic;
}

#postButton {
    float: left;
    padding: 12px;
    align-self: center;
    min-width: 50px;
}

#body {
    word-wrap: break-word;
    white-space: pre-line;
    white-space: pre-wrap;
}

.alignment { text-align: center; }
