<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create User</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popupsDIY.css}"/>

    <script type="text/javascript" th:src="@{/js/popups.js}"></script>
    <script type="text/javascript" th:src="@{/js/popupsDIY.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Create User</h1>

    <!-- DIY ALERT SECTION-->
    <div class="notifierBox" style="background-color: forestgreen">
        <div class="notifier"></div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <script th:if="${userCreated}">
        $(document).ready(custAlert("User Created"));
    </script>
    <script th:if="${userExists}">userExists();</script>
    <!-- DIY ALERT SECTION -->

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
            <form th:action="@{/admin/userAdding}" method="post">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" th:value="${email}">

                            <div class="errMsg" th:if="${emailError}">Field must not be empty</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="userCompanyName">Company Name</label>
                            <input type="text" name="userCompanyName" id="userCompanyName"
                                   class="form-control" th:value="${userCompanyName}">

                            <div class="errMsg" th:if="${userCompanyNameError}">Field must not be empty</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" th:value="${password}">

                            <div class="errMsg" th:if="${passwordError}">Field must not be empty</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="passwordConfirmation">Confirm Password</label>
                            <input type="password" name="passwordConfirmation" id="passwordConfirmation"
                                   class="form-control" th:value="${passwordConfirmation}">

                            <div class="errMsg" th:if="${passwordConfirmationError}">
                                    Field must not be empty
                            </div>
                            <div class="errMsg" th:if="${passwordMismatch}">Passwords must match</div>
                        </div>
                    </div>
                </div>

                <div class="btnPad">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>

                <div class="btnPad">
                    <button type="button" class="btn btn-default"
                            th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                </div>

            </form>
            </div>
        </div>
    </div>

</body>

</html>