<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Contact Us</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popupsDIY.css}"/>

    <style>
        p {
            text-align: center;
            color: gray;
            font-style: italic;
        }
    </style>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Contact Us</h1>

    <!-- DIY ALERT SECTION-->
    <div class="notifierBox" style="background-color: forestgreen">
        <div class="notifier"></div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <script th:if="${userContacted}">
        $(document).ready(custAlert("Contact info sent"));
    </script>
    <!-- DIY ALERT SECTION -->

    <div class="container" style="width: 300px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col">
                        <p>If you would like to upload job adverts please provide the specified info below</p>
                    </div>
                </div>

                <form th:action="@{/contactUs/contactingUs}" method="post">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                       th:value="${email} ? ${email}"/>
                                <div class="errMsg" th:if="${emailError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="phone">Phone Number</label>
                                <input type="number" name="phone" id="phone" class="form-control"
                                       th:value="${phone}">
                                <div class="errMsg" th:if="${phoneError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="btnPad">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                    <div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>