<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mainTable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popupsDIY.css}"/>

    <script type="text/javascript" th:src="@{/js/searching.js}"></script>
    <script type="text/javascript" th:src="@{/js/popups.js}"></script>
    <script type="text/javascript" th:src="@{/js/popupsDIY.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Welcome to <div class="logo"><div class="ath">ATH</div><div class="slash">/</div>TECH</div> career page</h1>

    <!-- DIY ALERT SECTION-->
    <div class="notifierBox" style="background-color: forestgreen">
        <div class="notifier"></div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <script th:if="${userContacted}">
        $(document).ready(custAlert("Contact info sent"));
    </script>
    <!-- DIY ALERT SECTION -->

    <div class="container">
        <div class="panel panel-default">
            <div class="row-fluid">
                <div class="col">
                    <div class="input-group" style="width: 200px">
                        <input type="text" id="search" placeholder="Search" class="form-control">
                    </div>
                </div>

                <div class="col">
                    <p id="tableInfo">Click on a row to view an advert!</p>
                </div>
            </div>

            <table class="table table-condensed">
                <thead></thead>
                <tbody>

                <div th:if="${advertArray.isEmpty()}">
                    <tr>
                        <td colspan="4">No adverts to display</td>
                    </tr>
                </div>

                <div th:unless="${advertArray.isEmpty()}" th:each="advert : ${advertArray}">
                    <tr th:onclick="'window.location.href=\'' + @{'/view/' + ${advert.getId()}} + '\''">
                        <td class="line1" th:text="${advert.getTitle()}"></td>

                        <td class="line2" th:text="${advert.getUser().getCompanyName()}"></td>

                        <td th:text="${!advert.getIndustry().isEmpty()} ?
                                ${advert.getIndustry()} : 'No Industry'"></td>

                        <td th:text="${advert.getDaysPosted() != 0} ?
                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>
                    </tr>
                </div>
                </tbody>
            </table>

        </div>
    </div>

</body>

</html>