<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head></head>

<body>

    <div th:fragment="navbar">

        <style>.inBlock { display: inline-block; }</style>
        <link rel="stylesheet" type="text/css" th:href="@{/css/athtechLogo.css}"/>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">
                        <div class="logo"><div class="ath">ATH</div><div class="slash">/</div>TECH</div>
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>

                    <li><a th:href="@{/contactUs}">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" th:switch="${role}">
                    <li th:case="'user'" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div th:text="${companyName}" class="inBlock"></div>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                            <li><a onclick="log_out()" href="#">Logout</a></li>
                        </ul>

                    </li>

                    <li th:case="'admin'" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div th:text="Admin" class="inBlock"></div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin}">Create User</a></li>
                            <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                            <li><a onclick="log_out()" href="#">Logout</a></li>
                        </ul>

                    </li>

                    <li th:case='*'>
                        <a th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <form th:action="@{/logout}" method="post">
            <button hidden type="submit" id="logout" value="Logout"></button>
        </form>

    </div>

</body>

</html>