<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Advert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>

    <script type="text/javascript" th:src="@{/js/popups.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <!--<span th:text="${advert.getTimePosted()}"></span>-->

    <h1>Advert Information</h1>

    <div class="container" th:inline="text">
        <div class="panel panel-default">

            <script th:if="${userApplied}">appSent();</script>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="title">Job Title</label>
                        <p id="title">[[${advert.getTitle()}]]</p>
                    </div>

                    <div class="col-md-6">
                        <label for="time">Time Posted</label>
                        <p id="time" th:text="${advert.getDaysPosted() != 0} ?
                                ${advert.getDaysPosted()} + ' days ago' : 'Today'">Time Placeholder</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="body">Job Description</label>
                        <p id="body">[[${advert.getBody()}]]</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="industry">Industry</label>
                        <p id="industry">[[${advert.getIndustry()}]]</p>
                    </div>

                    <div class="col-md-6">
                        <label for="salary">Salary</label>
                        <p id="salary">[[${advert.getSalary()}]]</p>
                    </div>
                </div>

                <div th:switch="${param.myAdverts}">
                    <div th:case="null">
                        <div class="btnPad">
                            <button type="button" class="btn btn-default"
                                    th:onclick="'window.location.href=\'' +
                                    @{'/view/' + ${advert.getId()} + '/apply'} + '\''">
                                Apply
                            </button>
                        </div>

                        <div class="btnPad">
                            <button type="button" class="btn btn-default"
                                    th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                        </div>
                    </div>
                    <div th:case="*">
                        <div th:switch="${param.myAdverts[0]}">
                            <div th:case="'true'">
                                <div class="btnPad">
                                <button type="button" class="btn btn-default"
                                        th:onclick="'window.location.href=\'' + @{/user/myAdverts} + '\''">Cancel</button>
                                </div>
                            </div>

                            <div th:case="*">
                                <div class="btnPad">
                                    <button type="button" class="btn btn-default"
                                            th:onclick="'window.location.href=\'' +
                                            @{'/view/' + ${advert.getId()} + '/apply'} + '\''">
                                        Apply
                                    </button>
                                </div>

                                <div class="btnPad">
                                    <button type="button" class="btn btn-default"
                                        th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>